{%- for message in messages -%}
{%- if message['role'] == 'system' -%}
{{- '<|im_start|>system\n' + (message['content'] or '') + '<|im_end|>\n' -}}
{%- elif message['role'] == 'user' -%}
{{- '<|im_start|>user\n' + (message['content'] or '') + '<|im_end|>\n' -}}
{%- elif message['role'] == 'assistant' -%}
{{- '<|im_start|>assistant\n' + (message['content'] or '') -}}
{%- for tc in message.get('tool_calls', []) -%}
{%- set fn = tc['function'] if tc.get('function') else tc -%}
{{- '<tool_call>\n{"name": "' + (fn.get('name', '') or '') + '", "arguments": ' + (fn.get('arguments', '{}') or '{}') + '}\n</tool_call>' -}}
{%- endfor -%}
{{- '<|im_end|>\n' -}}
{%- elif message['role'] == 'tool' -%}
{{- '<|im_start|>user\n<tool_response>\n' + (message['content'] or '') + '\n</tool_response><|im_end|>\n' -}}
{%- endif -%}
{%- endfor -%}
{%- if add_generation_prompt -%}
{{- '<|im_start|>assistant\n' -}}
{%- endif -%}
